rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Match any file in the 'listings' folder
    match /listings/{userId}/{allPaths=**} {
      // Allow anyone to read images (for viewing listings)
      allow read: if true;
      // Allow authenticated users to write (create, update, delete) only to their own folder
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Match any file in the 'leaseContracts' folder
    match /leaseContracts/{bookingId}/{allPaths=**} {
        // Only authenticated users can interact with lease contracts
        allow read, write: if request.auth != null;
    }
  }
}
